---
layout: page
aircraftData:
  a2455:
    imageFile: 2455
    modelName: Duo Discus
    modelDescription: Streckenflug.
    modelProperties: [
      [Spannweite, 20 m],
      [Gleitzahl, 46 bei 103 km/h],
      [Kleinstes Sinken, 0.58 m/s bei ca 90 km/h],
      [Max. Geschwindigkeit, 260 km/h],
      [Leermasse, 485 kg],
      [Max. Abflugmasse, 750 kg]]
  a3026:
    imageFile: 3026
    modelName: Schleicher ASK-21
    modelDescription: Schulung, Training, Streckenflug, Wolkenflug, Kunstflug.
    modelProperties: [
      [Spannweite, 17 m],
      [Gleitzahl, 34 bei 90 km/h],
      [Kleinstes Sinken, 0.65 m/s bei 75 km/h],
      [Max. Geschwindigkeit, 280 km/h],
      [Leermasse, 360 kg],
      [Max. Abflugmasse, 600 kg]]
  a3091:
    imageFile: 3091
    modelName: Schleicher ASK-23 B
    modelDescription: Schulung, Training, Streckenflug, Wolkenflug.
    modelProperties: [
      [Spannweite, 15 m],
      [Gleitzahl, 34 bei 90 km/h],
      [Kleinstes Sinken, 0.66 m/s bei 74 km/h],
      [Max. Geschwindigkeit, 215 km/h],
      [Leermasse, 240 kg],
      [Max. Abflugmasse, 360 kg]]
  asw19:
    imageFile: asw-19
    modelName: Schleicher ASW-19 B
    modelDescription: Training, Streckenflug, Wolkenflug.
    modelProperties: [
      [Spannweite, 15 m],
      [Gleitzahl, 39 bei 95 km/h],
      [Kleinstes Sinken, 0.62 m/s bei 72 km/h],
      [Max. Geschwindigkeit, 255 km/h],
      [Leermasse, 260 kg],
      [Max. Abflugmasse, 454 kg]]
  a2182:
    imageFile: 2182
    modelName: Schleicher ASW-24
    modelDescription: Streckenflug, Wolkenflug.
    modelProperties: [
      [Spannweite, 15 m],
      [Gleitzahl, 44 bei 103 km/h],
      [Kleinstes Sinken, 0.57 m/s bie 90 km/h],
      [Max. Geschwindigkeit, 280 km/h],
      [Leermasse, 230 kg],
      [Max. Abflugmasse, 500 kg]]
  a2033:
    imageFile: 2033
    modelName: Schleicher ASK-16
    modelDescription: 2-plätziger Motorsegler, Einziefahrwerk, Verstellpropeller. Grund- und Heckradschulung, Reiseflug, Wolkenflugschulung.
    modelProperties: [
      [Leistung, 80 PS],
      [Reisegeschwindigkeit, 90 kt / 165 km/h],
      [Reichweite, 750 km],
      [Max. Abflugmasse, 750 kg],
      [Ausrüstung, COM]]
  ppf:
    imageFile: ppf
    modelName: Piper Warrior III PA28/161
    modelDescription: 3 - 4 plätziges Schul- und Reiseflugzeug. Grundschulung, Reiseflug, Rundflug.
    modelProperties: [
      [Leistung, 160 PS],
      [Reisegeschwindigkeit, 115 kt / 213 km/h],
      [Reichweite, 960 km],
      [Max. Abflugmasse, 999 kg],
      [Ausrüstung, "COM, VOR"]]
  kbv:
    imageFile: kbv
    modelName: Robin Dauphin DR-40/160
    modelDescription: 4-plätziges Schul- und Reiseflugzeug. Grundschulung, Reiseflug, Rundflug.
    modelProperties: [
      [Leistung, 160 PS],
      [Reisegeschwindigkeit, 115 kt / 213 km/h],
      [Reichweite, 1000 km],
      [Max. Abflugmasse, 1000 kg],
      [Ausrüstung, "COM, VOR"]]
  pgb:
    imageFile: pgb
    modelName: Piper Archer II PA28/180
    modelDescription: 4 plätziges Reiseflugzeug. Reiseflug, Rundflug, CPL/IR-Ausbildung.
    modelProperties: [
      [Leistung, 180 PS],
      [Reisegeschwindigkeit, 120 kt / 220 km/h],
      [Reichweite, 1000 km],
      [Max. Abflugmasse, 1157 kg],
      [Ausrüstung, "HSI, GPS Garmin 430, Autopilot S-TEC, 2 COM, 2 NAV, ADF"]]
  ppn:
    imageFile: ppn
    modelName: Piper Archer III PA28/180
    modelDescription: 4 plätziges Reiseflugzeug. Reiseflug, Rundflug, CPL Ausbildung (CVFR, BB).
    modelProperties: [
      [Leistung, 180 PS],
      [Reisegeschwindigkeit, 120 kt /220 km/h],
      [Reichweite, 1000 km],
      [Max. Abflugmasse, 1157 kg],
      [Ausrüstung, "COM, VOR"]]
  pdu:
    imageFile: pdu
    modelName: Piper Arrow IV PA28/RT 201
    modelDescription: 4-plätziges Reiseflugzeug mit Einziehfahrwerk, Verstellpropeller. Reiseflug, Rundflug, CPL-Ausbildung.
    modelProperties: [
      [Leistung, 200 PS],
      [Reisegeschwindigkeit, 130 kt / 240 km/h],
      [Reichweite, 1700 km],
      [Max. Abflugmasse, 1247 kg],
      [Ausrüstung, "2 COM, 2 VOR, DME, ILS, RNAV, Autopilot S-TEC"]]
  pkx:
    imageFile: pkx
    modelName: Piper Arrow IV PA28/RT 201 Turbo
    modelDescription: 4-plätziges Reiseflugzeug mit Einziehfahrwerk, Verstellpropeller, Turbolader. Reiseflug, Rundflug, CPL/IR-Ausbildung.
    modelProperties: [
      [Leistung, 200 PS],
      [Reisegeschwindigkeit, 150 kt / 280 km/h],
      [Reichweite, 1750 km],
      [Max. Abflugmasse, 1315 kg],
      [Ausrüstung, "2 COM, VOR, DME, ILS, GPS, GNS430, Sandel-HSI, Autopilot S-TEC"]]
  pes:
    imageFile: pes
    modelName: Piper Saratoga SP
    modelDescription: 6-plätziges Reiseflugzeug, Einziehfahrwerk, Verstellpropeller. IFR-Schulung, VFR- und IFR-Reiseflug, Rundflug.
    modelProperties: [
      [Leistung, 300 PS],
      [Reisegeschwindigkeit, 160 kt 295 km/h],
      [Reichweite, 1500 km],
      [Max. Abflugmasse, 1650 kg],
      [Ausrüstung, "Flightdirector, HSI, GPS Garmin GNS 430, Autopilot, Stormscope, 2 COM, RMI, ADF"]]
  kcs:
    imageFile: kcs
    modelName: Robin Remorqueur DR-40/180
    modelDescription: 4-plätziges Schlepp- und Reiseflugzeug. Flugzeugschlepp, Reiseflug, Rundflug.
    modelProperties: [
      [Leistung, 180 PS],
      [Reisegeschwindigkeit, 110 kt / 204 km/h],
      [Reichweite, 600 km],
      [Max. Abflugmasse, 1000 kg],
      [Ausrüstung, "COM, VOR, Seileinzugswinde"]]
  kfh:
    imageFile: kfh
    modelName: Robin Remorqueur DR-40/200
    modelDescription: 4-plätziges Schlepp- und Reiseflugzeug. Reiseflug, Rundflug, Flugzeugschlepp.
    modelProperties: [
      [Leistung, 200 PS],
      [Reisegeschwindigkeit, 130 kt / 240 km/h],
      [Reichweite, 1000 km],
      [Max. Abflugmasse, 1100 kg],
      [Ausrüstung, "COM, VOR, el. Trimmung, Seilienzugswinde"]]
---

<div class="row text-center">
  <div class="col-sm-6">
    <h1>Segelflugzeuge</h1>
    {% include aircraft.html aircraftDataItem="a2455" %}
    {% include aircraft.html aircraftDataItem="a3026" %}
    {% include aircraft.html aircraftDataItem="a3091" %}
    {% include aircraft.html aircraftDataItem="asw19" %}
    {% include aircraft.html aircraftDataItem="a2182" %}

    <h1>Motorsegler</h1>
    {% include aircraft.html aircraftDataItem="a2033" %}
  </div>

  <div class="col-sm-6">
    <h1>Motorflugzeuge</h1>
    {% include aircraft.html aircraftDataItem="ppf" %}
    {% include aircraft.html aircraftDataItem="kbv" %}
    {% include aircraft.html aircraftDataItem="pgb" %}
    {% include aircraft.html aircraftDataItem="ppn" %}
    {% include aircraft.html aircraftDataItem="pdu" %}
    {% include aircraft.html aircraftDataItem="pkx" %}
    {% include aircraft.html aircraftDataItem="pes" %}

    <h1>Schleppflugzeuge</h1>
    {% include aircraft.html aircraftDataItem="kcs" %}
    {% include aircraft.html aircraftDataItem="kfh" %}
  </div>
</div>
