<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Navigation Anzeigen</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ relative }}index.html"><img src="{{ relative }}assets/logo.jpg"/></a>
    </div>

    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li><a href="{{ relative }}fliegen-lernen.html">Fliegen Lernen</a></li>
        <li><a href="{{ relative }}ueber-die-flugschule.html">Über die Flugschule</a></li>
        <li><a href="{{ relative }}flotte.html">Flotte</a></li>
        <li><a href="{{ relative }}bilder.html">Bilder</a></li>
        <li><a href="{{ relative }}wettbewerb.html">Wettbewerb</a></li>
      </ul>
    </div>
  </div>
</nav>
