<form class="form-horizontal" id="contestForm">
  <h2>Personalien</h2>
  <div class="form-group">
    <label for="inputFirst" class="col-sm-2 control-label">Vorname</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputFirst" name="inputFirst" placeholder="Vorname" required>
    </div>
  </div>
  <div class="form-group">
    <label for="inputLast" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputLast" name="inputLast" placeholder="Name" required>
    </div>
  </div>
<!--   <div class="form-group">
    <label for="inputCity" class="col-sm-2 control-label">Ortschaft</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputCity" name="inputCity" placeholder="Ortschaft" required>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPhone" class="col-sm-2 control-label">Telefon</label>
    <div class="col-sm-10">
      <input type="tel" class="form-control" id="inputPhone" name="inputPhone" placeholder="Telefon" required>
    </div>
  </div> -->
  <div class="form-group">
    <label for="inputEmail" class="col-sm-2 control-label">E-Mail</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="E-Mail" required>
    </div>
  </div>
  <h2>Antworten</h2>
<!--   <div class="form-group">
    <label for="answer1" class="col-sm-4 control-label">Erste komplizierte Frage</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="answer1" name="answer1" placeholder="Antwort" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Zweite Frage</label>
    <div class="col-sm-8">
      <label class="radio-inline">
        <input type="radio" name="answer2" value="option1"> das
      </label>
      <label class="radio-inline">
        <input type="radio" name="answer2" value="option2"> oder?
      </label>
      <label class="radio-inline">
        <input type="radio" name="answer2" value="option3"> so
      </label>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Dritte Frage</label>
    <div class="col-sm-8">
      <label class="checkbox-inline">
        <input type="checkbox" id="answer3_1" name="answer3_1" value="option1"> das
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="answer3_2" name="answer3_2" value="option2"> und?
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="answer3_3" name="answer3_3" value="option3"> so
      </label>
    </div>
  </div> -->
  <div class="form-group">
    <label class="col-sm-4 control-label">Wann wurde die Segelfluggruppe Grenchen gegründet?</label>
    <div class="col-sm-8">
      <label class="radio-inline">
        <input type="radio" name="smgGruendung" value="1970"/> 1970
      </label>
      <label class="radio-inline">
        <input type="radio" name="smgGruendung" value="1932"/> 1932
      </label>
      <label class="radio-inline">
        <input type="radio" name="smgGruendung" value="1964"/> 1964
      </label>
      <label class="radio-inline">
        <input type="radio" name="smgGruendung" value="1925"/> 1925
      </label>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-4 control-label">Was gehört bei einem Segelflugzeug zur den sekundären Steuerung?</label>
    <div class="col-sm-8">
      <label class="radio-inline">
        <input type="radio" name="segelflugzeugSekundaer" value="Seitenruderpedale"/> Seitenruderpedale
      </label>
      <label class="radio-inline">
        <input type="radio" name="segelflugzeugSekundaer" value="Steuerknüppel"/> Steuerknüppel
      </label>
      <label class="radio-inline">
        <input type="radio" name="segelflugzeugSekundaer" value="Klinke"/> Klinke
      </label>
      <label class="radio-inline">
        <input type="radio" name="segelflugzeugSekundaer" value="Bremsklappen"/> Bremsklappen
      </label>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-4 control-label">Bei einem Ausschlag des Steuerknüppels nach links dreht das Flugzeug um die:</label>
    <div class="col-sm-8">
      <label class="radio-inline">
        <input type="radio" name="drehAchse" value="Schiebeachse"/> Schiebeachse
      </label>
      <label class="radio-inline">
        <input type="radio" name="drehAchse" value="Hochachse"/> Hochachse
      </label>
      <label class="radio-inline">
        <input type="radio" name="drehAchse" value="Längsachse"/> Längsachse
      </label>
      <label class="radio-inline">
        <input type="radio" name="drehAchse" value="Querachse"/> Querachse
      </label>
    </div>
  </div>


  <div class="form-group">
    <label class="col-sm-4 control-label">Wie heisst das Programm bei welchem Jugendliche ab 12 Jahren gratis einen Tag im Flugbetrieb mitmachen können?</label>
    <div class="col-sm-8">
      <label class="radio-inline">
        <input type="radio" name="jugendProgramm" value="IACE"/> IACE
      </label>
      <label class="radio-inline">
        <input type="radio" name="jugendProgramm" value="SPHAIR"/> SPHAIR
      </label>
      <label class="radio-inline">
        <input type="radio" name="jugendProgramm" value="YES"/> YES
      </label>
      <label class="radio-inline">
        <input type="radio" name="jugendProgramm" value="SMG-FSG"/> SMG-FSG
      </label>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-4 control-label">Ab welchem Alter kannst du mit der Ausbildung zum Segelflugpiloten beginnen?</label>
    <div class="col-sm-8">
      <label class="radio-inline">
        <input type="radio" name="alterSegelflug" value="20 Jahre"/> 20 Jahre
      </label>
      <label class="radio-inline">
        <input type="radio" name="alterSegelflug" value="16 Jahre"/> 16 Jahre
      </label>
      <label class="radio-inline">
        <input type="radio" name="alterSegelflug" value="18 Jahre"/> 18 Jahre
      </label>
      <label class="radio-inline">
        <input type="radio" name="alterSegelflug" value="keine Altersbeschränkung"/> für den Beginn der Ausbildung gibt es keine Altersbeschränkung
      </label>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-4 control-label">Wie wird im Sichtflug die Richtung eingehalten?</label>
    <div class="col-sm-8">
      <label class="radio-inline">
        <input type="radio" name="richtung" value="Kurskreisel"/> mit dem Kurskreisel
      </label>
      <label class="radio-inline">
        <input type="radio" name="richtung" value="Fernrichtpunkte"/> mit Fernrichtpunkten
      </label>
      <label class="radio-inline">
        <input type="radio" name="richtung" value="Kompass"/> mit dem Kompass
      </label>
      <label class="radio-inline">
        <input type="radio" name="richtung" value="künstlicher Horizont"/> mit dem künstlichen Horizont
      </label>
    </div>
  </div>

  <input class="btn btn-default" type="submit" value="Abschicken" id="contestFormSubmit">
</form>

<div class="modal fade" id="contest-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="contest-modal-title"></h4>
      </div>
      <div class="modal-body">
        <p id="contest-modal-body"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
