<!DOCTYPE html>
<html>
  {% assign lvl = page.url | append:'X' | split:'/' | size %}
  {% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

  {% include head.html %}

  <body>

    {{ content }}

    <script src="{{ relative }}deps/jquery/jquery.min.js"></script>
    <script src="{{ relative }}deps/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ relative }}deps/jquery-validation/jquery.validate.min.js"></script>
    <script src="{{ relative }}deps/jquery-serialize-object/jquery.serialize-object.min.js"></script>
    <script src="{{ relative }}scripts/validator-bootstrap.js"></script>
    <script src="{{ relative }}deps/Justified-Gallery/js/jquery.justifiedGallery.min.js"></script>
    <script src="{{ relative }}deps/colorbox/jquery.colorbox-min.js"></script>
    <script src="{{ relative }}scripts/jquery.hcaptions.js"></script>
    {% for scriptName in page.extraJs %}
      <script src="{{ relative }}{{ scriptName }}"></script>
    {% endfor %}
    <script src="{{ relative }}scripts/global.js"></script>
</body>
</html>
